/* BASE.SCSS */

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  margin: 0;
}
h1 {
  font-size: 4em;
  font-weight: 400;
}
h2 {
  font-size: 2em;
  font-weight: 400;
}
h3 {
  font-size: 1.3em;
  font-weight: 400;
}
h4 {
  font-weight: 400;
}
h5 {
  font-weight: 400;
}
h6 {
  font-weight: 400;
}
p {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.4em;
}
li {
  font-weight: 300;
}
strong {
  font-weight: 400;
}
a {
  color: #c40022;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}
