/* BUTTONS.SCSS */

a.btn {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 0.1em;
  display: inline-block;
}

a.btn-primary {
  color: #fff;
  background: #c40022;
}
a.btn-primary:hover {
  text-decoration: none;
  background: #dd2233;
}

a.btn-secondary {
  color: #c40022;
  box-shadow: 0 0 0 1px #1c1c1c inset;
}
a.btn-secondary:hover {
  text-decoration: none;
}