/* HERO.SCSS */

.hero {
  text-align: center;
  background: #8f1bbe;
  color: #fff;
  padding: 3em 0;

  .hero-heading {
    margin: 0;
  }
  .hero-subtitle {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
    font-weight: 200;
    line-height: 1.4em;
    margin: 0.4em 0;
  }
}
