{% for sec in site.data.nav %}{% for cat in sec.docs %}{% if page.url contains cat %}{% assign s = sec %}{% endif %}{% endfor %}{% endfor %}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.name }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="{{ site.baseurl }}/img/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="{{ site.baseurl }}/img/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="stylesheet" href="/css/cornerstone.css">
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script>
      $(document).ready(function () {
        $('<ul></ul>').appendTo('#side_nav .active');
        $('#content h2').each(function () {
          $('<li class="active"><a href="#' + $(this).attr('id') + '">' + $(this).text() + '</a></li>').appendTo('#side_nav .active ul');
        });
      });
    </script>
  </head>
  <body>
    <div class="eyebrow">
      <div class="grid-container">
        <div class="grid-3">
          <a href="{{ site.baseurl }}/" class="eyebrow-brand">{{ site.name }}</a>
        </div>
        <div class="grid-5">
          <ul class="eyebrow-nav">
            {% for sec in site.data.nav %}
            <li><a href="{{ site.baseurl }}/docs/{{ sec.docs | first }}/">{{ sec.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="grid-4 grid-right">
          <ul class="eyebrow-nav">
            <li><a href="#" class="btn btn-eyebrow-nav btn-secondary">Contact</a></li>
            <li><a href="#" class="btn btn-eyebrow-nav btn-primary">GitHub</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="hero">
      <div class="grid-container">
        <h1 class="hero-heading">{{ s.hero.heading }}</h1>
        <p class="hero-subtitle">{{ s.hero.subtitle }}</p>
      </div>
    </div>
    <div>
      <div class="grid-container">
        <div id="side_nav" class="grid-2">
          <ul class="tabs-vertical">
            {% for cat in s.docs %}{% assign cl = '' %}
            {% if page.url contains cat %}{% assign cl = 'active' %}{% endif %}
            <li class="{{ cl }}"><a href="{{ site.baseurl }}/docs/{{ cat }}/">{{ cat | replace: '-', ' ' }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div id="content" class="grid-10">
          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>
