{% for sec in site.data.nav %}{% for cat in sec.docs %}{% if page.url contains cat %}{% assign s = sec %}{% endif %}{% endfor %}{% endfor %}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.name }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/img/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="/img/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="stylesheet" href="/css/cornerstone.css">
  </head>
  <body>
    <div class="eyebrow">
      <div class="grid-container">
        <div class="grid-3">
          <a href="/" class="eyebrow-brand">{{ site.name }}</a>
        </div>
        <div class="grid-5">
          <ul class="eyebrow-nav">
            {% for sec in site.data.nav %}
            <li><a href="{{ site.url }}/docs/{{ sec.docs | first }}/">{{ sec.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="grid-4 grid-right">
          <ul class="eyebrow-nav">
            <li><a href="#" class="btn btn-eyebrow-nav btn-secondary">Contact</a></li>
            <li><a href="https://github.com/troyswanson/cornerstone/tree/vermeer" class="btn btn-eyebrow-nav btn-primary">GitHub</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="hero">
      <div class="grid-container">
        <h1 class="hero-heading">{{ s.hero.heading }}</h1>
        <p class="hero-subtitle">{{ s.hero.subtitle }}</p>
      </div>
    </div>
    <div class="content">
      <div class="grid-container">
        <div class="grid-2">
          <ul class="tabs-vertical">
            {% for cat in s.docs %}{% for p in site.pages %}{% if p.url contains cat %}
            {% if page.url == p.url %}{% assign cl = "active" %}{% endif %}
            <li class="{{ cl }}"><a href="{{ p.url }}">{{ p.title }}</a></li>
            {% endif %}{% endfor %}{% endfor %}
          </ul>
        </div>
        <div class="grid-10">
          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>
